/* .Cards {
    width: 100%;
    margin: 20px auto;
    border-radius: 15px;
    background: chartreuse;
} */
.Cards {
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Cards h2 {
    font-size: 2rem;
}

.Cards_cards {
    width: 100%;
    margin: 20px auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.Sort_card {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sort_card p {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 14px;
    height: 15px;
    border-radius: 15px;
    margin-left: 40px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.644);
}

.Sort_card p:hover {
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 255, .3);
}


@media (max-width: 800px) {
    .Sort_card p {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 14px;
        height: 15px;
        border-radius: 15px;
        margin: 20px auto;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.644);
    }
}